# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
# Welcome to Jekyll!

# Site settings
title: Nerfold
name: Nerfold              
email: 23300240013@m.fudan.edu.cn
description: >- 
    This is my homepage. I will share my notes and blogs here.
twitter_username: 
github_username: Nerfold
minimal_mistakes_skin: "dark" # 皮肤选项: "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes

# Outputting
permalink: /:categories/:title/
paginate: 5
paginate_path: /page:num/
timezone: Asia/Shanghai    # 【已修改】设置为中国时间

include:
  - _pages

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

# 侧边栏个人资料 (Sidebar)
author:
  name   : "Yangrui Zhou"       # 【请修改】这里可以写你的真实姓名，显得更正式
  avatar : "/assets/images/avatar.jpg" # 【重要】请确保你在 assets/images/ 下传了一张叫 avatar.jpg 的照片
  bio    : "<br>Undergraduate Student." 
  location: "China"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:23300240013@m.fudan.edu.cn" # 
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/Nerfold"

# 页脚链接 (Footer)
footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/Nerfold"

# 默认设置 (Defaults)
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

# 【非常重要】URL 设置
# 如果不设置这个，CSS 样式可能会加载失败，页面会很丑
url: "https://Nerfold.github.io"
baseurl: ""
